/* ".inherited-styles-for-exported-element" is a generated class for the inherited styles of the exported element, feel free to rename it. */

*, ::after, ::before {
  box-sizing: border-box;
}

a {
  background-color: initial;
  background-position: 0 0;
  text-decoration: none;
}

b {
  font-weight: 700;
}

h1 {
  color: inherit;
  font-family: inherit;
  font-weight: 500;
  margin-left: 0;
  margin-right: 0;
}

img {
  border-style: initial;
  border-width: 0;
  vertical-align: middle;
}

h2, input, textarea {
  font-family: inherit;
}

input, textarea {
  font-feature-settings: inherit;
  font-kerning: inherit;
  font-optical-sizing: inherit;
  font-size: inherit;
  font-stretch: inherit;
  font-style: inherit;
  font-variant: inherit;
  font-variant-position: inherit;
  font-variation-settings: inherit;
  font-weight: inherit;
  line-height: inherit;
  margin: 0;
}

textarea {
  overflow: auto;
}

.inherited-styles-for-exported-element {
  color: #2f2f2f;
  font-family: "Ubuntu", Helvetica, sans-serif !important;
  font-size: 14px;
  line-height: 1.42857;
}

h2 {
  color: inherit;
  font-weight: 500;
}

.container {
  overflow: hidden;
}

.containerWithVisibleOverflow {
  overflow: visible;
}

.containerModal, .modalBackdropWrapper {
  opacity: 0;
}

.container {
  margin-left: auto;
  margin-right: auto;
}

.row {
  margin-left: -15px;
  margin-right: -15px;
}

.col-md-1, .col-md-11, .col-md-12, .col-md-6 {
  min-height: 1px;
  padding-left: 15px;
  padding-right: 15px;
  position: relative;
}

@media (min-width: 992px) {

  .col-md-1,   .col-md-11,   .col-md-12,   .col-md-6 {
    float: left;
  }

  .col-md-12 {
    width: 100%;
  }

  .col-md-11 {
    width: 91.6667%;
  }

  .col-md-6 {
    width: 50%;
  }

  .col-md-1 {
    width: 8.33333%;
  }
}

.containerWrapper {
  min-width: 320px;
}

.innerContent {
  overflow-wrap: break-word;
}

.wideContainer {
  max-width: 1120px;
  width: 100%;
}

.midContainer {
  max-width: 720px;
  width: 100%;
}

.row {
  padding: 10px;
}

.padding10-top {
  padding-top: 10px;
}

.padding20-top {
  padding-top: 20px;
}

.padding40-top {
  padding-top: 40px;
}

.padding10-bottom {
  padding-bottom: 10px;
}

.padding20-bottom {
  padding-bottom: 20px;
}

.padding40-bottom {
  padding-bottom: 40px;
}

.padding40H {
  padding-left: 0;
  padding-right: 0;
}

.radius0 {
  border-radius: 0;
}

.radius10 {
  border-radius: 10px;
}

.radius75 {
  border-radius: 75px;
}

.border3px {
  background-position-y: -3px;
}

.bgCover {
  background-position: center center;
}

.modalBackdropWrapper {
  height: 100%;
  left: 0;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 222;
}

.containerModal {
  left: 50%;
  position: fixed;
  top: 0;
  z-index: 222;
}

.closeLPModal {
  cursor: pointer;
  position: absolute;
  right: -20px;
  top: -20px;
}

.de-editable {
  position: relative;
}

.elMargin0 {
  margin-top: 0;
}

.elHeadline {
  margin-bottom: 0;
  padding: 0;
  position: relative;
}

.hsSize1 {
  font-size: 16px;
}

.hsSize2 {
  font-size: 24px;
}

.hsSize3 {
  font-size: 32px;
}

.lh4 {
  line-height: 1.3em;
}

.lh3 {
  line-height: normal;
}

.el_media_theme1 {
  background-color: #fff;
  border: 2px solid rgba(0, 0, 0, .15);
}

.elDivider {
  margin: 0;
  width: 100%;
}

.elDivider, .elDividerInner {
  min-height: 1px;
}

.elDivider {
  display: block;
}

.elInput {
  appearance: none;
}

@media only screen and (min-width: 0px) and (max-width: 770px) {
  .closeLPModal {
    right: -6px;
  }

  .midContainer,   .wideContainer {
    min-width: 320px;
  }
}

@media only screen and (min-width: 650px) and (max-width: 720px) {
  .midContainer {
    min-width: 320px;
  }
}

.fa, .fas {
  -webkit-font-smoothing: antialiased;
  display: inline-block;
  font-variant: normal;
  font-variant-position: normal;
  line-height: 1;
  text-rendering: auto;
}

.fa, .fas {
  font-family: "Font Awesome 5 Free";
}

.fa, .fas {
  font-weight: 900;
}

a:active, a:hover {
  outline: 0;
}

a:focus, a:hover {
  text-decoration: underline;
}

a:focus {
  outline: 5px auto -webkit-focus-ring-color;
  outline-offset: -2px;
}

.container::after, .container::before, .row::after, .row::before {
  content: " ";
  display: table;
}

.container::after, .row::after {
  clear: both;
}

.de-image-block img {
  box-sizing: border-box;
  max-width: 100%;
}

.elDivider::after {
  clear: both;
  content: ".";
  display: block;
  height: 0;
  visibility: hidden;
}

.fa-angle-double-down::before {
  content: "";
}

.fa-hand-point-right::before {
  content: "";
}

.fa-plus::before {
  content: "";
}

.midContainer .containerInner, .wideContainer .containerInner {
  padding-left: 20px;
  padding-right: 20px;
}

.midContainer.containerModal {
  margin-left: -360px;
}

.elDivider:not([class*=padding]) {
  padding: 10px 0;
}

.elDividerStyle1 .elDividerInner {
  border-top-style: solid;
  border-top-width: 1px;
}

.elDividerInner[data-align=left] {
  float: left;
}

.elDividerInner[data-width-border="50"] {
  width: 50%;
}

@media only screen and (min-width: 0px) and (max-width: 770px) {
  .midContainer.containerModal {
    margin-left: -320px;
  }
}

@media only screen and (min-width: 650px) and (max-width: 720px) {
  .midContainer.containerModal {
    margin-left: -320px;
  }
}

.elHeadlineWrapper .elHeadline span {
  padding: 0;
}

.de-editable {
  cursor: auto !important;
}

.hide {
  display: none !important;
}

.noBorder {
  border: initial !important;
  border-color: initial !important;
  border-image: initial initial initial initial initial !important;
}

.bgNoRepeat {
  background-repeat: no-repeat !important;
}

.bgCover {
  background-attachment: fixed !important;
  background-repeat: repeat !important;
  background-size: cover !important;
}

.containerModal {
  overflow: visible !important;
}

.el_media_theme1 {
  padding: 5px !important;
}

.elInput {
  outline: 0 !important;
}

@media only screen and (min-width: 0px) and (max-width: 770px) {
  .wideContainer {
    width: 100% !important;
  }

  .col-inner {
    padding-left: 10px !important;
    padding-right: 10px !important;
  }

  .innerContent {
    padding: 0 !important;
  }

  .row {
    padding-left: 5px !important;
    padding-right: 5px !important;
  }

  .col_right {
    margin-top: 20px !important;
  }

  .containerModal {
    left: 0 !important;
    margin-left: 0 !important;
  }

  .containerInner {
    padding-left: 0 !important;
    padding-right: 0 !important;
  }

  .col-inner,   .row {
    margin-left: auto !important;
    margin-right: auto !important;
    width: auto !important;
  }

  .elHeadlineWrapper {
    padding-left: 0 !important;
    padding-right: 0 !important;
  }

  .bgCover {
    background-attachment: scroll !important;
  }
}

@media only screen and (min-width: 770px) and (max-width: 1170px) {
  .col-inner {
    padding-left: 20px !important;
    padding-right: 20px !important;
  }
}

@media only screen and (max-width: 700px) {
  .mfs_17 {
    font-size: 17px !important;
  }

  .mfs_23 {
    font-size: 23px !important;
  }

  .mfs_32 {
    font-size: 32px !important;
  }
}

@media only screen and (min-width: 650px) and (max-width: 720px) {
  .midContainer {
    width: 100% !important;
  }
}

.ximg.img-circle {
  border-radius: 50% !important;
}

@media only screen and (min-width: 0px) and (max-width: 770px) {
  .midContainer.containerModal {
    width: 100% !important;
  }
}

.elHeadlineWrapper[data-htype=headline] {
  font-family: Raleway, Helvetica, sans-serif !important;
}

#tmp_imagegallery-22450 {
  text-align: left !important;
}
